* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
:root {
    --harvard-crimson: #A51C30; /* The main Crimson color */
    --harvard-crimson-dark: #7A0B1E; /* A darker shade for hover effects */
    --medium-gray: #6b7280; /* A medium gray for text and borders */
    --harvard-black: #1E1E1E;   /* Deep charcoal for text */
    --light: #fadddd;        /* Clean background color */
    --white: #FFFFFF;
    --header-color: #212529; /* Darker shade for headers */
}